.postDtl_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#deleteBtn, #createBtn{
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
}

#deleteBtn:hover, #createBtn:hover{
    background: none;
    border: 1px solid lightgray;
}
.postsContainer{
    border: 1px solid lightgray;
    margin: 15px 0px;
    padding: 20px;
}
.sidebar{
    position: fixed;
}
.sidebar li{
    list-style: none;
    text-decoration: none;
}

@media (max-width: 576px){
    .postDtl_container{
        grid-template-columns: 1fr;
        width: 340px;
        margin-left: auto;
    }
    .createPostForm{
        margin-top: 50px;
        
    }
}